/* all */
html{
    height: auto;
}
body{
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100svw;
}
.txt, p{
    font-size: 1em;
    text-align: left;
    font-family: "Noto Sans", "Helvetica Neue", Arial, "Hiragino Sans", "ヒラギノ角ゴシック", "Meiryo", sans-serif;
    color: #37383c;
}
.sub-title{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}
.sub-title p{
    font-size: 2em;
}
.sub-title div{
    width: 5%;
    height: 1px;
    padding-right: 60px;
    border-top: #37383c 2px solid;
}
.flex-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
h1, h2, h3, h4, h5, h6, .emphasized{
    font-weight: bolder;
}
/* header */
header{
    margin: 0 auto;
}
.header-img{
    height: 100vh;
    display: block;
    margin: 0 auto;
}
header .header{
    margin: 0 auto;
}
.header-txt{
    font-family: "Merriweather", "Noto Serif JP", "Times New Roman", serif;
    writing-mode: vertical-rl;
    position: absolute;
    top: 75px;
    left: 75%;
    width: auto;
}
.header-txt p{
    font-size: 2em;
    margin: 0;
    color: #37383c;
}
.header nav{
    position: absolute;
    top: 75px;
    right: 75%;
}
.header-nav{
    text-decoration: none;
    writing-mode: vertical-rl;
    font-size: 1.3em;
    color: #37383c;
    border-top: #b0c4de 3px solid;
    margin: 0 3px;
    padding-top: 2px;
}
/* main content */
/* main{
    margin: 25px;
} */
.content-wrapper{
    width: 80%;
    margin: 0 auto;
}
.content-wrapper section{
    margin: 0 auto;
}
.introduction-block{
    margin: 15px auto;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 10px;
}
.introduction-content{
    margin-left: 8px;
    margin-right: 8px;
}
.introduction-block a{
    display: block;
    text-decoration: none;
    color: #37383c;
    font-size: 1.25em;
    border-left: #b0c4de 3px solid;
    padding-left: 5px;
}
.introduction-txt{
    width: 70%;
}
.introduction-txt p{
    font-size: 0.8em;
    width: 100%;
}
.introduction-block img{
    display: block;
    width: 30%;
}
/* footer */
footer{
    background-color: #c8d1de;
}
footer p{
    font-size: 0.8em;
    color: black;
    text-align: left;
}
.footer-wrapper{
    width: 80%;
}